@charset "UTF-8";

html, body {
    overflow-y: scroll;
}


#judge-content-window, #timeout-content-window {
    display: flex;
    position: absolute;
    height: 85%;
    width: 80%;
    top: 70px;
    background-color: white;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 30px;
    flex-wrap: wrap;
    overflow-x: scroll;
    overflow-y: scroll;
}

.judge-img, .timeout-img {
    max-height: 40%;
    max-width: 50%;
    margin: 15px;
    margin-top: 30px auto;
}

#judge-container {
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    bottom: 50px;
}

#judge-content-title {
    position: absolute;
    top: 0px;
    margin-bottom: 50px;
    margin-top: 5px;
}

#judge-img-selected {
    border: 10px solid lightpink;
}

#choose-winner-button {
    position : absolute;
    bottom : 20px;
    height : 40px;
    background-color: seagreen;
    color : white;
}