@charset "UTF-8";

.image-workspace {
    height: 1000px;
    width: 1000px;
    margin: 0 auto;
    position: relative;
    background-color: lightgrey;
}

.image-container {
    height: 500px;
    width: 500px;
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    left: 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
}

.image-fields {
    height: 100%;
    width: 100%;
    position: absolute;
}
.side-panel {
    height: 700px;
    width: 400px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 0px;
    margin-top: 10px;
    margin-right: 10px;
    background-color: grey;
    padding-top: 60px;
}

.editor-option {
    height: 50px;
    width: 100%;
    position: relative;
    display: block;
    left: 0px;
    margin: 10px;
    background-color: darkgray;
}

.editor-text {
    padding: 10px;
    display: flex;
    align-content: center;
}

.dropdown {
    vertical-align: auto;
}

#header, #footer, #top, #bottom {
    height: 15%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2.5px;
}

#header, #footer {
    background-color: none;
    display: flex;
}

#header {
    top: 0px;
}

#footer {
    bottom: 0px;
}

#top {
    top: 15%;
    border: solid black 1px;
}

#bottom {
    bottom: 15%;
    border: solid black 1px;
}

#middle {
    height: 40%;
    width: 100%;
    position: absolute;
    display: flex;
    top: 30%;
    bottom: 30%;
    background-color: none;
    border: solid black 1px;
    justify-content: center;
    align-items: center;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2.5px;
}

#panel-title {
    position: absolute;
    top: 0;
}
#input-text {
    display: inline-block;
    height: 100%;
    border-radius: 6px;
}